# Visual Studio/Project files
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates
.vs/

# NuGet packages
/packages/
*.nupkg

# Temp file storage / User uploaded data
wwwroot/uploads/

# Local Database Files
**/*.db
**/*.sqlite
**/*.sqlite3

# SQLite WAL and SHM
**/*.db-shm
**/*.db-wal