# Visual Studio/Project files
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates
.vs/

# NuGet packages
/packages/
*.nupkg

# Local Database Files
*.db
*.sqlite
*.sqlite3
receipts.db

#SQLite WAL and SHM
*.db-shm
*.db-wal